:root {
    --onyx: #111111;
    --golden-earth: #926c15;
    --eternal-gold: #443512;
    --royal-gold: #ffcb05;
    --champagne-mist: #f2e8cf;
    --platinum: #ededed;

    --cube-height: 1.25em;
}

/*
█ Fuck it, no hidden margin/padding anywhere.
*/
* {
    margin: 0;
    padding: 0;
}

/*
█ Full dynamic-viewport so it has all the screen on every device.
█ Stupid mobile viewport substandart.
*/
body {
    height: 100dvh;
    width: 100dvw;
    color: var(--champagne-mist);

}

html {
    font-size: 16px;
}

/*
█ Make it 100% of parent (body{}).
█ Include in itself the margins and paddings.
█ Padding here might fuck up things. Don't.
*/
#background {
    height: 100%;
    width: 100%;
    display: flex;

    box-sizing: border-box;
}

/*
█ So cute.
*/
.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

#over-background{
    height: 100%;
    width: 100%;
    display: flex;
}

.mutable-section {
    border: 1px solid rgba(255, 235, 205, 0.1);
    box-sizing: border-box;
    width: 85vw;
    overflow: scroll;
    overflow-x: hidden;
    scroll-snap-type: both mandatory;
    scrollbar-width: none;
    
}

.canvas-wrap {
    display: flex;
    background-color: var(--onyx);
    
}

#canvas-particles {
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    z-index: -1;
    background-color: var(--onyx);
}

.permanent-section {
    border: 1px solid rgba(255, 235, 205, 0.1);
    box-sizing: border-box;
    width: 15vw;

    display: flex;
    flex-direction: column;

    padding: 1vw;
    
    background-color: var(--onyx);
}

.main-quote-card {
    padding: 2rem;
    border-radius: 5px;
    width: 15em;
    
    background-color: rgba(from var(--royal-gold) r g b / 0.02);

    
    backdrop-filter: blur(3px);
}

.main-quote {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

.main-alts {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 4px;

    display: flex;
    
    border-radius: 4px;

    text-wrap: nowrap;
    user-select: none;

    transition: 1s;
}

@keyframes spin {
    0%, 20% {
        transform: rotateX(0deg);
    }

    25%, 45% {
        transform: rotateX(-90deg);
    }

    50%, 70% {
        transform: rotateX(-180deg);
    }

    75%, 95% {
        transform: rotateX(-270deg);
    }

    100% {
        transform: rotateX(-360deg);
    }
}

.inline-cube {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#main-alts-cube {
    box-sizing: border-box;
    height: var(--cube-height);
    perspective: 2000px;
}

.cube {
    width: 8em;
    height: var(--cube-height);
    transform-style: preserve-3d;
    animation: spin 10s linear infinite;
}

.cube-face {
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    position: absolute;
    margin-left: 0.5em;
    width: 100%;
    /* border: 1px solid gold; */
    height: var(--cube-height);
    color: rgba(from var(--royal-gold) r g b / 0.75);
    
}

.cube-face-front {
    transform: rotateX(0deg) translateZ(calc(var(--cube-height) / 2));
}

.cube-face-top {
    transform: rotateX(90deg) translateZ(calc(var(--cube-height) / 2));
}

.cube-face-back {
    transform: rotateX(180deg) translateZ(calc(var(--cube-height) / 2));
}


.cube-face-bottom {
    transform: rotateX(270deg) translateZ(calc(var(--cube-height) / 2));
}

.snap-tome {
    height: 100vh;
    scroll-snap-align: start;
    scroll-margin: 0; 
}

.sub-section {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.sub-section-container {
    display: flex;
    justify-content: space-evenly;
    
    max-height: 100%; /* Enables scrolling in .sub-section-col */
}

.sub-section-title {
    margin-bottom: 1rem;
}

.sub-section-col {
    width: 45%;
    
    box-sizing: border-box;
    margin: 0vw ;
    display: flex;
    box-sizing: border-box;
    
    padding: 0.6vw;
    flex-direction: column;

    overflow: scroll;
}

.main-avatar {
    width: 100%;
    align-self: center;
    box-sizing: border-box;
    
    
    user-select: none;
    pointer-events: none;
    
    border: 0.3vw solid blanchedalmond;
    border-radius: 100%;
    
}

.contact-box {
    display: flex;
    flex-direction: row;
    font-size: 1vw;
    margin-top: 0.5rem;
}

.contact-box > i {
    color: blanchedalmond;
}

.contact-box > a {
    text-decoration: none;
    color: blanchedalmond;
    margin-left: 0.5vw;
}

.contact-box > sup {
    margin-left: 0.25vw;
    text-decoration: none;
    color: rgb(100, 100, 100);
}



.permanent-section > h1 {
    color: blanchedalmond;
    margin-top: 1vw;
    font-size: 2vw;
}

.permanent-section > h2 {
    color: blanchedalmond;
    margin-top: 1vw;
    font-size: 1.25vw;
}

.cardholder {
    margin-bottom: 10px;
    box-sizing: border-box;
    
    padding: 5px;
    border: 1px solid var(--golden-earth);
    border-radius: 5px;
    
    backdrop-filter: blur(3px);
}

.card {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(from var(--golden-earth) r g b / 0.4);
    
    transition: 0.2s;
}

.card:hover {
    background-color: rgba(from var(--golden-earth) r g b / 0.475);
}

.card > h3 {
    color: var(--champagne-mist)
}
.card-descriptor {
    text-align: justify;
    font-size: 0.9rem;
}

.tech-container {
    display: flex;
}

.tech-hr {
    color: rgba(255, 255, 255, 0.1);
    margin: 5px 0px;
}

.tech:not(:first-child) {
    margin-left: 5px;
}

.tech-title {
    font-size: 0.6rem;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 2px;
}

.tech {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 4px;

    display: flex;
    
    border-radius: 4px;

    text-wrap: nowrap;
    user-select: none;

    transition: 0.2s;
}

.tech:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

.tech > p {
    font-size: 0.75rem;
    font-weight: 700;
}

.tech > * {
    align-self: center;
    margin: 0px 2px;
    color: wheat;
}

